# Системные файлы
.DS_Store
thumbs.db

# Логи
*.log

# Кэш
/docker
/pyds_extracted
/results
/video
/local_crops
/global_crops
/zoom_crops
/display_crops
/show
/stable_tile_14/local_crops
/stable_tile_14/global_crops
/stable_tile_14/__pycache__/
/deepstream_reference_apps
/DeepStream-Yolo
/record_video


# Артефакты сборки (пример для языков вроде Java, C#, Python)
/build
/dist
*.pyc
__pycache__/

# IDE и редакторы: Visual Studio Code, IntelliJ IDEA, etc.
.vscode/
.idea/
*.suo
*.user
*.csproj
*.sln
*.iml
*.mp4
*.avi
*.jpg
*.jpeg
*.png
# *.xls
# *.doc
*.bin
*.npz
*.sqlite
*.nsys-rep
# *.engine
# *.json
*.pkl
*.zip
*.256
*.mkv
*.flv

finak/model/ROBOFLOW/sports/
finak/model/narya/
finak/model/soccernet-calibration-sportlight/

warp_maps/

# Или можно игнорировать все .git папки в подкаталогах
**/.git/
!.git/